<footer>
    <div class="background-header footer_padding">
      <div class="container">
        <div class="navigation_footer">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="about-us-info">
                <p>
                  <img src="/img/logo_200x200.png" class="rounded-circle max-width-90px" alt="logo"/>
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="row"> -->
            <div class="container">
              <div class="row">
                <div class="col-md-6 zeropadd">
                  <p><i class="fa fa-phone"></i> 123-456-987</p>
                  <p><i class="fa fa-map-marker"></i> C5M6+W9J, Mumbai - Agra National Hwy, <br>
                    Raghogarh -Vijaypur, Madhya Pradesh</p>
                    <a href="" class="greens">JUST JUET</a>
                  </p>
                </div>
              </div>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </footer>
  <script src="/js/vendor/jquery-3.4.1.min.js"></script>
  <script src="/js/vendor/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/script.js"></script>
</body>
  </html>
  