<html>
  <head>
    <title>404 Not Found</title>
      <meta charset="utf-8">
      <title>Maida Responsive Classified</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="../public/img/fav" type="image/gif" sizes="16x16">
      <link rel="stylesheet" href="main.css">
      <link rel="stylesheet" href="font_awsome.css">
      <link rel="stylesheet" href="responsive.css">
      <link rel="stylesheet" href="bootstrap.min.css">
      <script src="js/vendor/jquery-3.4.1.min.js"></script>
      <script src="js/vendor/bootstrap.min.js"></script>
      <script src="js/main.js"></script>
  </head>
  <body>
    <div class="content blog">
      <div class="hero-homepage subpage">
        <div class="container wrapping-content">
          <div class="row">
            <div class="col-12 text-center">
              <div class="tagline">
                <h1>Not Found</h1>
                <h2>Sorry We cant find</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--Post section-->
      <div class="post-section aboutus">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              
              <div class="text-center">
                <h1>Page Not Found</h1>
                <p>Sorry, but the page you were trying to view does not exist.</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>